* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myfont;
  src: url(museo-slab-cufonfonts/Museo_Slab_500.otf);
}

body {
  font-family: myfont, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  background-color: #0B1729;
  width: 100%;
}

.mainicon {
  width: 100px;
  height: 100px;
}

.leftmenu {
  background-color: #0B1729;
  height: 100%;
  padding-left: 10px;
  color: white;
  position: fixed;
  z-index: 7;
  width: 190px;
  overflow: hidden;
}

.logoholder {
  height: 80px;
  width: 150px;
  background-image: url(design.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.usernamedis {
  font-size: 13px;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.info {
  display: flex;
  width: 100%;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
}

.leftphoto {
  background-image: url(profilephoto.avif);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.leftprofile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 100px;
}

.pgsection {
  height: 350px;
  margin-top: 100px;
}

.pages {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.pgsec {
  width: 180px;
}

.leftmenulogout {
  display: flex;
  justify-content: space-evenly;
  /* width: 100px; */
}

.style {
  border-top: 1px solid #b197fc;
  width: 90%;
  height: 30px;
}

.btn {
  background-color: transparent;
  border: none;
  width: 100%;
  color: rgb(223, 222, 222);
  cursor: pointer;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.calbtn {
  background-color: transparent;
  border: none;
  width: 100%;
  color: rgb(223, 222, 222);
  cursor: pointer;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

#mobilecalbtn {
  display: none;
}

.rightsec {
  margin-left: 196px;
  height: 100vh;
  /* Viewport height to take up the full screen */
  overflow-y: auto;
  /* Allows vertical scrolling */
  overflow-x: hidden;
  /* Prevents horizontal scrolling */
  width: 95vw;
}

.btn:hover {
  background-color: #664e78;
}

.btn2 {
  background-color: #b197fc;
  border: none;
  color: black;
  cursor: pointer;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.mainmenu {
  color: black;
  background-color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 5;
  padding: 20px;
  max-height: 100%;
  /* Ensure the content fits within the parent */
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 30px;
}

.sbct {
  align-content: center;
  justify-content: space-between;
  display: flex;
  width: 410px;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
}

.timerbtn {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  line-height: -20px;
}

.searchbox {
  display: flex;
  background-color: rgb(199, 199, 199);
  align-content: center;
  justify-content: center;
  padding-left: 20px;
  height: 40px;
  width: 250px;
  gap: 10px;
  border-radius: 10px;
}

.sb {
  border-radius: 10px;
  border: none;
  background-color: rgb(199, 199, 199);
  height: 40px;
  width: 250px;
  padding-left: 10px;
}

.ct {
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b197fc;
  border-radius: 10px;
  font-size: 15px;
}

.taskmenu {
  margin-top: 20px;
  border-top: 2px solid #000000;
  padding: 30px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 30px;
}


/* DASHBOARD*********************************************************************** */

.analytics {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.div1 {
  height: 250px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 340px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  align-content: space-between;
  color: black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1.5);
  background-color: #403858;
  background-image: linear-gradient(to bottom, rgb(196 216 255 / 50%), rgba(45, 48, 84, 0.6));
  padding-top: 5px;
  border: 1px solid;
}

.div1header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 10px;

}

.minitabs {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.minitab:hover {
  background-color: #a2ade7;
  border-radius: 10px;
  color: black;
  transition: background-color 0.3s ease;
}

.minitab {
  border-radius: 20px;
  background-color: #c3bcd6;
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 30%), rgb(93 104 242 / 60%));
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 8px;
  align-items: center;
  bottom: -10px;
  color: rgb(0, 0, 0);
  border: 2px dotted black;
}

#minit1 {
  position: absolute;
  bottom: -35px;
  left: 8px;
}

#minit1:hover {
  bottom: -20px;
  transition: all 0.3s ease-in-out;
}

#minit2:hover {
  bottom: -20px;
  transition: all 0.3s ease-in-out;
}

#minit3:hover {
  bottom: -20px;
  transition: all 0.3s ease-in-out;
}

#minit2 {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);

}

#minit3 {
  position: absolute;
  bottom: -35px;
  right: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div1 .tasks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.minidiv1 {
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black;
  background-color: white;
}

.status {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 80px;
}

.icons {
  display: flex;
  justify-content: center;
}

.assigned {
  float: right;
  width: 30%;
  gap: 10px;
  border-radius: 30px;
}

#usersList {
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid;
  padding: 7px;
  justify-content: space-between;
  border-radius: 30px;
}

.user-item {
  height: 40px;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

#headinput {
  color: black;
  height: 40px;
  overflow-y: hidden;
  width: 100%;
  transition: all 400ms ease-in-out;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  border: 1px solid black;
}

#Xmark {
  line-height: 25px;
  width: 25px;
  align-content: center;
  color: white;
}

/* //Task Cont */

#taskinputbox {
  color: black;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: hidden;
  display: flex;
  transition: all 400ms ease-in-out;
  font-size: 20px;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

#taskinput {
  height: max-content;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  width: 100%;
  flex-wrap: wrap;
  transition: all 400ms ease-in-out;
  font-size: 30px;
  justify-content: space-between;
  align-content: space-between;
  border: 2px solid black;
}

.subbtn {
  background: transparent;
  border: 2px solid;
  padding: 5px;
  transition: all 500ms ease-in-out;
}

.subbutn {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.subbtn:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.functionalapps {
  min-height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media(max-width:660px) {
  .analytics {
    width: 100%;
    justify-content: center;
  }

  .div1 {
    width: 90%;
  }

  .div1header {
    min-width: 300px;
    width: 80%;
    font-size: 18px;
  }

  .functionalapps {
    flex-direction: row;
    width: 90%;
  }

  .minidiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* tasks boxes ***************************************************** */

.tasks-cont {
  height: max-content;
  display: none;
  margin-top: 30px;
  justify-items: center;
}

#task-dashboard {
  width: 100%;
  padding: 10px;
}

.task-box {
  padding: 10px;
  margin: 10px;
  text-align: left;
  height: max-content;
  width: 99%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  cursor: pointer;
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.task-desc {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

#task-details {
  padding: 10px;
  margin: 10px;
  min-height: max-content;
  max-width: 200px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 70%;
  max-height: fit-content;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.delete-btn,
.edit-btn {
  background-color: #b197fc;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .task-box {
    text-align: center;
  }

  .task-desc {
    width: 100%;
    text-align: center;
  }

  .task-details {
    width: 100%;
  }

}

/* clock *********************************************** */

.clock-cont {
  width: 220px;
  height: 70px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1.5);
  border-radius: 10px;
}

.clock {
  width: 100%;
  height: 100%;
  background: rgba(0, 110, 255, 0.251);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur;
}

.clock-cont::before {
  content: ' ';
  width: 20px;
  height: 20px;
  background: #f41b75;
  border-radius: 5px;
  position: absolute;
  left: -10px;
  top: -10px;
}

.clock-cont::after {
  content: '';
  width: 20px;
  height: 20px;
  background: #419aff;
  border-radius: 30px;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.clock span {
  font-size: 24px;
  width: 30px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}

.clock span::after {
  position: absolute;
  font-size: 10px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

#hrs::after {
  content: 'HOURS';
}

#mins::after {
  content: 'MINS';
}

#secs::after {
  content: 'SEC';
}

/* Weather /////////////////////////////// */


.app-wrap {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #9576eb;
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 30%), rgb(93 104 242 / 60%));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 10px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 3px solid gray;
  color: #292424;
  font-size: 15px;
  font-weight: 100;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 2 100%;
  padding: 15px 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  font-size: 16px;
}

.current .temp {
  font-size: 32px;
  font-weight: 900;
  margin: 15px 0px;
}

.current .temp span {
  font-weight: 300;
}

.current .weather {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

/* Pomodoro Timer///////////////////////// */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}

.container {
  background-color: #1b1b1b;
  width: min(90%, 500px);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 4em 2em;
  display: none;
  z-index: 101;
  border-radius: 0.5em;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.section-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.button {
  padding: 10px;
  text-align: center;
  border-radius: 0.5em;
  background-color: #3e3f43;
  color: #a9a7a7;
}

.btn-focus {
  background-color: #cb202d;
  color: #ffffff;
}

.time-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

#time {
  text-align: center;
  color: #ffffff;
  font-size: 5em;
  font-weight: 600;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}

#btn-start,
#btn-pause {
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #ffffff;
}

#btn-reset {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 2em;
}

.hide {
  display: none;
}

.show {
  display: block;
}


/* Adjustments for smaller screens */
@media (max-width: 842px) {
  .header {
    flex-direction: column;
    margin-top: 70px;
  }

  .sbct {
    width: 100%;
  }

  .leftphoto {
    background-image: url(profilephoto.avif);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }

  .logoholder {
    height: 50px;
    width: 80px;
    background-image: url(phonelogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .leftprofile div {
    display: none;
  }

  .usernamedis {
    font-size: 11px;
    width: 50%;
  }

  #mobilecalbtn {
    display: block;
  }

  .calbtn {
    display: none;
  }

  .leftmenu {
    width: 100vw;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .style {
    display: none;
  }

  .pgsection {
    height: 50px;
    margin-top: 0px;
    display: none;
  }

  .pages {
    display: none;
  }

  .info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .accountinfo {
    display: none;
  }

  .leftprofile {
    flex-direction: column;
    width: 60px;
  }

  .rightsec {
    margin-left: 0px;
    width: 100vw;
  }

  .profile {
    width: 195px;
    align-items: center;
  }

  .btn {
    width: auto;
  }

  .functionalapps {
    height: 300px;
  }

  .mainmenu {
    border-radius: 0px;
    display: grid;
  }

  .taskmenu {
    border-radius: 0px;
  }
}


@media (max-width:570px) {
  .functionalapps {
    display: grid;
    justify-content: center;
  }

  .app-wrap {
    width: 70vw;
  }

  .clock-cont {
    display: none;
  }
}


@media (max-width:520px) {
  .searchbox {
    display: none;
  }
}

@media (max-width:460px) {
  .div1 {
    font-size: 14px;
  }
}

@media(max-width:398px) {
  .minitabs {
    font-size: 12px;
    font: 300;
  }
}

@media (max-width:420px) {
  .div1header {
    min-width: 232px;
  }
}

@media (max-width:360px) {
  .mainmenu {
    padding-left: 0px;
    padding-right: 0px;
  }

  .functionalapps {
    padding-bottom: 10px;
  }
}